*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.logo-gamekon h1{
    transition: all .50s ease;
}
.logo-gamekon h1 svg{
    width: 72px;
    height: auto;
    fill: #4d9559;
}
.logo-gamekon h1:hover{
    transform: translateY(-5px);
}
.logo{
    font-size: 54px;
    font-weight: 700;
    color: white;
    margin-left: 41px;
}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}

.hero {
    min-height: 100vh;
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
    position: relative;
    display: grid;
    align-items: center;
}
section{
    padding: 0 19%;
}
.hero-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 55px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.hero-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    text-align: left;
    text-indent: 41px;
}
.hero-text h5{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

